header {
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    background: rgb(250 250 250 / 0.8);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.logo {
    font-size: 1.5rem;
    color: var(--text);
    padding: 1rem 2rem;
    border-radius: var(--radius);
    background: var(--primary);
}
.nav_link {
    display: flex;
    gap: 1rem;
}
.nav_items {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    list-style: none;
    color: var(--text);
}
.link {
    color: inherit;
}
.link:hover {
    color: var(--text-muted);
    transform: scale(1.05);
}
